@{
    ViewBag.Title = "GioHangNull";
    Layout = "~/Views/Shared/Layout-page.cshtml";
}

<div class="body-cart">
    <div class="container">
        <div class="cart-empty">
            <img class="img-empty" src="~/Assets/Img_Logo_Banner/cart-null.png" alt="">
            <a href="" class="text-empty">Tiếp tục mua hàng →</a>
        </div>

    </div>
</div>