@{
    ViewBag.Title = "HomeAdmin";
    Layout = "~/Views/Shared/layOut_Admin.cshtml";
}
<div class="content">
    <div class="left">
        <div class="isights row">
            <div class="card-item">
                <div class="cart-item-logo bg-primary">
                    <i class='bx bx-money-withdraw'></i>
                </div>
                <div class="cart-item-pirce">
                    22,200,200 vnd
                </div>
                <div class="cart-item-text">
                    Doanh thu tháng
                </div>

            </div>
            <div class="card-item ">
                <div class="cart-item-logo bg-danger">
                    <i class='bx bx-notepad'></i>
                </div>
                <div class="cart-item-pirce">
                    3,000
                </div>
                <div class="cart-item-text">
                    Tổng số hóa đơn
                </div>

            </div>
            <div class="card-item ">
                <div class="cart-item-logo bg-info">
                    <i class='bx bxs-user-account'></i>
                </div>
                <div class="cart-item-pirce">
                    200
                </div>
                <div class="cart-item-text text-center">
                    Tổng số tài khoản khách hàng
                </div>

            </div>
            <div class="card-item ">
                <div class="cart-item-logo bg-success">
                    <i class='bx bx-headphone'></i>
                </div>
                <div class="cart-item-pirce ">
                    2000
                </div>
                <div class="cart-item-text text-center">
                    Tổng Sản phẩm hiện có
                </div>

            </div>

        </div>

    </div>

</div>
